services:
  db:
    image: postgres:16-alpine
    container_name: task_manager_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development # Use development stage for backend
    container_name: task_manager_backend
    depends_on:
      - db
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    # Allow migrations to run ONLY IN PRODUCTION
    # command: >
    #   sh -c "npx prisma migrate deploy && node dist/index.js"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development # Use development stage for frontend
    container_name: task_manager_frontend
    depends_on:
      - backend
    ports:
      - "3000:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  postgres_data:
